.wrapper {
    width: 60vw;
    margin: 2rem auto 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.25);
    border-radius: 0.1rem;
    box-shadow: 0 0 1rem -0.5rem rgba(0, 0, 0, 0.25);
    margin-bottom: 10rem;
}

.quotation_header{
    margin: 2.5rem 0 1.5rem;
    display: flex;
    padding: 0 2rem;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    h3{
          font-weight: bold;
          color: white;
      }
    img{
           height: 4.5rem;
           width: 4.5rem;
           scale: 2;
           margin-right: .5rem;
       }
}

.project_detail_wrapper {
    margin: 0.5rem 0;
    padding: 0 2rem;
    padding-bottom: 0;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.section_txt{
    margin-bottom: -1rem;
    h5, span{
                line-height: 2.3rem;
            }
    img{
           height: 2.3rem;
           margin-right: .5rem;
       }
}

.section_txt_wrapper{
    margin-bottom: 2rem;
}

.quotation_materials {
    padding: 0 2rem;
}

td{
    font-size: .85rem;
}

hr{
    border-top: .14rem dashed rgba(0, 0, 0, 0.2);
}

.material_card{
    border: .1rem solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    max-width: 45%;
    .form-group{
                     margin-bottom: 0 !important;
    }
}

.total_estimated{
    position: relative;
    label{
        margin: 0 1rem;
    }
    
}

.total_estimated{
    input{
        background: white;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        color: black;
        position: relative;
    }
     
}

.total_estimated:before{
    content: "$";
    position: absolute;
    right: 26rem;
    z-index: 1;
    font-weight: bold;
    font-size: 1.5rem;
}