@page
@model ICQS_Management.Pages.QuotationManagement.projectMaterialEditModel

@{
    ViewData["Title"] = "projectMaterialEdit";
}

<h1>projectMaterialEdit</h1>

<h4>ProjectMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectMaterial.ProjectMaterialId" />
            <div class="form-group">
                <label asp-for="ProjectMaterial.MaterialId" class="control-label"></label>
                <select asp-for="ProjectMaterial.MaterialId" class="form-control" asp-items="ViewBag.MaterialId"></select>
                <span asp-validation-for="ProjectMaterial.MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectMaterial.ProjectId" class="control-label"></label>
                <select asp-for="ProjectMaterial.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectMaterial.ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectMaterial.Quantity" class="control-label"></label>
                <input asp-for="ProjectMaterial.Quantity" class="form-control" />
                <span asp-validation-for="ProjectMaterial.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
