@page
@model ICQS_Management.Pages.Authentication.CustomerRegisterModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Home</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <style>
        .wrapper {
            position: relative;
        }

        .signup_form {
            position: absolute;
            top: 20%;
            right: 10%;
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.86);
            backdrop-filter: blur(.15rem);
            min-height: 40vh;
            border-radius: .3rem;
            width: 30rem;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="hero_area">
            <!-- header section strats -->
            <header class="header_section">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container">
                        @* <a class="navbar-brand" href="index.html">
                        <img src="images/logo.png" alt="" />
                        </a> *@
                        <div class="navbar-collapse" id="">
                            <ul class="navbar-nav justify-content-between ">
                                <div class="User_option">
                                <li class="">
                                    <a class="mr-4" href="LoginView" style="font-weight: bold;">
                                        Login
                                    </a>
                                    <a class="" href="CustomerRegister" style="font-weight: bold;">
                                        Sign up
                                    </a>
                                </li>
                        </div>
                        </ul>
                </div>
                </nav>
        </div>
        </header>

        <section class="slider_section ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 offset-md-1">
                        <div class="detail-box">
                            <h1>
                                <span> Construction</span> <br>
                                Quotation <br>
                                System
                            </h1>
                            <p>
                                Build your dream house
                            </p>
                            <div class="btn-box">
                                <a href="#  " class="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>



    <div class="signup_form">
        <div>
            <form method="post" class="login-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (TempData["RegisterError"] is not null)
                    {
                    <span class="text-danger">@TempData["RegisterError"]</span>
                    }
                <h3 class="text-center font-weight-bold">Register</h3>
                <div class="form-group">
                    <input asp-for="Customer.Name" class="form-control" placeholder="Customer Name"/>
                    <span asp-validation-for="Customer.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Customer.Email" class="form-control" placeholder="Email address"/>
                    <span asp-validation-for="Customer.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Customer.Password" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="Customer.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Customer.PhoneNumber" class="form-control" placeholder="Phone number"/>
                    <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>


    </div>



    </div>






        <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/custom.js"></script>


</body>

</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
