@page
@model ICQS_Management.Pages.Authentication.ErrorSessionModel
@{
    Layout = null;
}
<header>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
</header>
<body>
    <h1 class="d-flex justify-content-center">Error Authentication</h1>
    <h1 class="d-flex justify-content-center">You don't have access to this page, please login</h1>
    <form method="post" class="d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-primary">Go Back To Login Page</button>
    </form>
</body>