@page
@model ICQS_Management.Pages.Authentication.ErrorSessionModel
@{
    Layout = null;
}
<h1>Error Authentication</h1>
<h1>You don't have access to this page, please login</h1>
<form method="post">
    <button type="submit" class="btn btn-primary">Go Back To Login Page</button>
</form>