@page
@model ICQS_Management.Pages.BatchDetailsManagement.EditCheckoutModel

@{
    ViewData["Title"] = "EditCheckout";
}

<h1>EditCheckout</h1>

<h4>BatchDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
            <div class="form-group">
                <label class="control-label">Material</label>
                <input asp-for="Material.Name" readonly />
            </div>
        
        <div class="form-group">
            <label>Unit</label>
            <input asp-for="MaterialType.UnitType" readonly />
        </div>
        <div class="form-group">
            <label>Medium Price</label>
            <input id="mediumPrice" asp-for="MediumPrice" value="@Model.MediumPrice" readonly />
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BatchDetail.BatchDetailId" />
            <div class="form-group">
                <label asp-for="BatchDetail.Quantity" class="control-label"></label>
                <input asp-for="BatchDetail.Quantity" class="form-control" />
                <span asp-validation-for="BatchDetail.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchDetail.Price" class="control-label"></label>
                <input asp-for="BatchDetail.Price" onchange="validatePrice()" id="price" class="form-control" />
                <span asp-validation-for="BatchDetail.Price" class="text-danger"></span>
                <span id="error" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="createBtn" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Create">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function submitForm(selectElement) {
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var materialTypeId = selectedOption.value;
        document.getElementById('materialForm').submit();
    }

    function validatePrice() {
        var priceInput = document.getElementById('price');
        var mediumPriceInput = document.getElementById('mediumPrice');
        var error = document.getElementById('error');
        var createBtn = document.getElementById('createBtn');

        var price = Number(priceInput.value);
        var mediumPrice = Number(mediumPriceInput.value);

        if (price > mediumPrice * 1.2) {
            createBtn.type = "button";
            error.innerText = "Price cannot exceed 20% above the medium price.";

            console.log("a");
        } else {
            createBtn.type = "submit";
            error.innerText = "";
        }
    }
</script>
