@page
@model ICQS_Management.Pages.ProjectManagement.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Project</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @{
            if (Model.message != string.Empty)
            {
                <div class="alert alert-primary" role="alert">
                    @Model.message
                </div>
            }
        }
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.ProjectName" class="control-label">Project Name</label>
                <input asp-for="Project.ProjectName" class="form-control" required/>
                <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.AreaPerFloor" class="control-label">Area per floor</label>
                <input asp-for="Project.AreaPerFloor" class="form-control" type="number" min="1" required/>
                <span asp-validation-for="Project.AreaPerFloor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.NumOfFloors" class="control-label">Number of floors</label>
                <input asp-for="Project.NumOfFloors" class="form-control" type="number" min="1" required/>
                <span asp-validation-for="Project.NumOfFloors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.NumOfLabors" class="control-label"></label>
                <input id="Project_NumOfLabors" asp-for="Project.NumOfLabors" class="form-control" required min="1"/>
                <span asp-validation-for="Project.NumOfLabors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.LaborSalaryPerMonth" class="control-label"></label>
                <input id="Project_LaborSalaryPerMonth" asp-for="Project.LaborSalaryPerMonth" class="form-control" required min="1" />
                <span asp-validation-for="Project.LaborSalaryPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.MonthDuration" class="control-label"></label>
                <input id="Project_MonthDuration" asp-for="Project.MonthDuration" class="form-control" required min="1" />
                <span asp-validation-for="Project.MonthDuration" class="text-danger"></span>
            </div>
            <input id="Project_TotalMaterialPrice" value="0" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="Project.TotalPrice" class="control-label"></label>
                <input id="Project_TotalPrice" asp-for="Project.TotalPrice" class="form-control" readonly />
                <span asp-validation-for="Project.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/calculateTotalPrice.js"></script>
    <!-- Load jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Load jQuery Validate plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    <!-- Load jQuery Validate Unobtrusive plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
