@page
@model ICQS_Management.Pages.ProjectManagement.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="title">Project Management</h1>
<div style="width: 90%; margin: 0 auto">
    <h2 class="text-center" style="margin-bottom: 3vh">Add Project</h2>
    <div>
        @{
            if (Model.message != string.Empty)
            {
                <div class="alert alert-primary" role="alert">
                    @Model.message
                </div>
            }
        }
        <form method="post">
            <div class="add_box">
                <div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Project.ProjectName" class="control-label"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Project Name</label>
                        <input asp-for="Project.ProjectName" class="form-control" required />
                        <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.AreaPerFloor" class="control-label"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Area per floor</label>
                        <input type="number" asp-for="Project.AreaPerFloor" class="form-control" type="number" min="1" required />
                        <span asp-validation-for="Project.AreaPerFloor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.NumOfFloors" class="control-label"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Number of floors</label>
                        <input type="number" asp-for="Project.NumOfFloors" class="form-control" type="number" min="1" required />
                        <span asp-validation-for="Project.NumOfFloors" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.NumOfLabors" class="control-label"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Number of Labors</label>
                        <input type="number" id="Project_NumOfLabors" asp-for="Project.NumOfLabors" class="form-control" required min="1" />
                        <span asp-validation-for="Project.NumOfLabors" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label asp-for="Project.LaborSalaryPerMonth" class="control-label"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Labor Salary Per Month</label>
                        <input type="number" id="Project_LaborSalaryPerMonth" asp-for="Project.LaborSalaryPerMonth" class="form-control" required min="1" />
                        <span asp-validation-for="Project.LaborSalaryPerMonth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.MonthDuration" class="control-label"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Month Duration</label>
                        <input type="number" id="Project_MonthDuration" asp-for="Project.MonthDuration" class="form-control" required min="1" />
                        <span asp-validation-for="Project.MonthDuration" class="text-danger"></span>
                    </div>
                    <input id="Project_TotalMaterialPrice" value="0" class="form-control" hidden />
                    <div class="form-group">
                        <label asp-for="Project.TotalPrice" class="control-label">Estimated Project Price</label>
                        <input id="Project_TotalPrice" asp-for="Project.TotalPrice" class="form-control" readonly />
                        <span asp-validation-for="Project.TotalPrice" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin: 0 18% 2rem 18%">
                <label asp-for="Project.Description" class="control-label"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Project Description</label>
                <textarea asp-for="Project.Description" class="form-control"></textarea>
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary mr-3" style="background-color: rgb(53, 84, 209) !important;" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/calculateTotalPrice.js"></script>
    <!-- Load jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Load jQuery Validate plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    <!-- Load jQuery Validate Unobtrusive plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
