@page
@model ICQS_Management.Pages.ProjectManagement.EditProjectModel

@{
    ViewData["Title"] = "EditProject";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="margin-bottom: 2vh; text-align: center">Edit Project</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @{
            if (Model.message != string.Empty)
            {
                <div class="alert alert-primary" role="alert">
                    @Model.message
                </div>
            }
        }
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Project.ProjectID" />
            <div class="form-group">
                <label asp-for="Project.ProjectName" class="control-label"></label>
                <input asp-for="Project.ProjectName" class="form-control" />
                <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.AreaPerFloor" class="control-label"></label>
                <input asp-for="Project.AreaPerFloor" class="form-control" />
                <span asp-validation-for="Project.AreaPerFloor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.NumOfFloors" class="control-label"></label>
                <input asp-for="Project.NumOfFloors" class="form-control" />
                <span asp-validation-for="Project.NumOfFloors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
