@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ICQS Management.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ICQS_Management.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/admin_layout.css" />

</head>

<body>
    <div class="">
        <div class="row">
            <div class="col-md-2 p-0 side_bar">
                <div class="text-center logo_section">
                    <div class="logo_wrapper">
                        <img src="/images/iqcs_logo.png" />
                    </div>
                    <p class="text-white fw-bold">Civil Construction</p>
                    <p class="text-white fw-bold">Quotation System</p>
                </div>
                <div class="sidebar_nav_wrapper">
                    <a class="nav_tab" asp-page="/AdminManagement/Admin_View/Index">
                        <div class="nav_icon">
                            <img src="https://i.ibb.co/WtPZ3LC/user.png" width="40" height="40" />
                        </div>
                        <span>Users</span>
                    </a>
                    <a class="nav_tab" asp-page="/AdminManagement/ProjectManagement/Index">
                        <div class="nav_icon">
                            <img src="https://i.ibb.co/Rb5xFM4/blueprint.png" width="40" height="40" />
                        </div>
                        <span>Projects</span>
                    </a>
                    <a class="nav_tab" asp-page="/AdminManagement/BatchsManagement/Index">
                        <div class="nav_icon">
                            <img src="https://i.ibb.co/4mpvQVV/batch-picking.png" width="40" height="40" />
                        </div>
                        <span>Batches</span>
                    </a>
                    <a class="nav_tab" asp-page="/AdminManagement/MaterialManagement/Index">
                        <div class="nav_icon">
                            <img src="https://i.ibb.co/7Qk6Hbw/brick.png" width="40" height="40" />
                        </div>
                        <span>Materials</span>
                    </a>
                    <a class="nav_tab" asp-page="/AdminManagement/MaterialTypeManagement/Index">
                        <div class="nav_icon">
                            <img src="https://i.ibb.co/JyLLH6m/logs.png" width="40" height="40" />
                        </div>
                        <span>Material Types</span>
                    </a>
                    <a class="nav_tab" asp-page="/StaffManagement/AccountStaff/QuotationRequest">
                        <div class="nav_icon">
                            <img src="https://i.ibb.co/dj4n5XM/file.png" width="40" height="40" />
                        </div>
                        <span>Quotations</span>
                    </a>
                    <a class="nav_tab" asp-page="/Authentication/Logout">
                        <div class="nav_icon">
                            <img src="https://i.ibb.co/4S9XYpb/exit.png" width="40" height="40" />
                        </div>
                        <span>Logout</span>
                    </a>
                </div>
            </div>
            <div class="col-md-10 p-0">
                <div class="dashboard_header">
                    <h3>Admin Management</h3>
                </div>
                <div class="container">
                    <div class="render_body">
                        @RenderBody()
                        @RenderSection("scripts", required: false)
                    </div>
                </div>
            </div>
        </div>
    </div>
   


    @*  <section class="container-fluid footer_section ">
    <div class="container">
    <p>
    &copy; <span id="displayYear"></span> All Rights Reserved By
    <a href="https://html.design/">Free Html Templates</a>
    </p>
    </div>
    </section> *@


    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>


</body>

</html>