@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Teaser</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ICQS Management.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ICQS_Management.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

</head>

<body>
    <div class="container-fluid p-0 nav_wrapper">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">
                    <img src="/images/iqcs_logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/CustomerManagement/ProjectManagement/ProjectList">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/CustomerManagement/QuotationManagement/Index">My Quotation</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        @if (HttpContextAccessor.HttpContext.Session.GetString("LoggedEmail") != null) {
                            var email = HttpContextAccessor.HttpContext.Session.GetString("LoggedEmail");
                            var id = HttpContextAccessor.HttpContext.Session.GetString("userId");
                            <a class="text-center text-white mr-3" href="/CustomerManagement/Account/Details?id=@id"><i class="fa-solid fa-user"></i> @email</a>
                        }
                        <a asp-page="/Authentication/Logout">
                            <span class="text-white">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </nav>
        </div>
    </div>


    <div class="container mt-5">
        <div class="render_body">
            @RenderBody()
            @RenderSection("scripts", required: false)
        </div>
    </div>


    @*  <section class="container-fluid footer_section ">
    <div class="container">
    <p>
    &copy; <span id="displayYear"></span> All Rights Reserved By
    <a href="https://html.design/">Free Html Templates</a>
    </p>
    </div>
    </section> *@


    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>


</body>

</html>