@page
@model ICQS_Management.Pages.AdminManagement.MaterialTypeManagement.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="title">Material Type Management</h1>
<div style="width: 90%; margin: 0 auto">
    <h2 class="text-center" style="margin-bottom: 3vh">Edit Material Type</h2>
    <div>
        @{
            if (Model.message != string.Empty)
            {
                <div id="notification" class="notification"></div>
                <script>
                    var notification = document.getElementById("notification");
                    notification.innerText = "@Model.message";
                    notification.classList.add("show");

                    setTimeout(function () {
                        notification.classList.remove("show");
                    }, 2000);
                </script>
            }
        }
        <form method="post">
            <div class="add_box">
                <div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MaterialType.MaterialTypeId" />
                    <div class="Edit_Info">
                        <label asp-for="MaterialType.MaterialTypeName" class="control-label" style="width: 300px !important"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Material Type Name</label>
                        <input asp-for="MaterialType.MaterialTypeName" class="form-control" />
                        <span asp-validation-for="MaterialType.MaterialTypeName" class="text-danger"></span>
                    </div>
                    <div class="Edit_Info">
                        <label asp-for="MaterialType.UnitType" class="control-label" style="width: 300px !important"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Unit Type</label>
                        <input asp-for="MaterialType.UnitType" class="form-control" />
                        <span asp-validation-for="MaterialType.UnitType" class="text-danger"></span>
                    </div>
                    <div class="Edit_Info">
                        <label asp-for="MaterialType.QuantityPerArea" class="control-label" style="width: 300px !important"><span style="color: rgb(53, 84, 209); font-weight: bold">* </span>Unit Type</label>
                        <input type="number" asp-for="MaterialType.QuantityPerArea" class="form-control" required min="0.1" step="0.1" />
                        <span asp-validation-for="MaterialType.QuantityPerArea" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group text-center mt-3">
                <input type="submit" value="Save" class="btn btn-primary mr-3" style="background-color: rgb(53, 84, 209) !important;" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
