@page
@model ICQS_Management.Pages.QuotationManagement.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="wrapper">
    <h4>Creating new quotation</h4>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Quotation.ProjectId" class="control-label fw-bold">Construction Project</label>
                    <select asp-for="Quotation.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Quotation.RequestDate" class="control-label fw-bold">Request Date</label>
                    <input asp-for="Quotation.RequestDate" class="form-control" readonly value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
                    <span asp-validation-for="Quotation.RequestDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Quotation.EstimatePrice" class="control-label fw-bold"></label>
                    <input asp-for="Quotation.EstimatePrice" class="form-control" readonly placeholder="..." />
                    <span asp-validation-for="Quotation.EstimatePrice" class="text-danger"></span>
                </div>
            </div>
        </div>

        @*  <div class="form-group">
        <label asp-for="Quotation.CustomerId" class="control-label"></label>
        <select asp-for="Quotation.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
        </div>
        <div class="form-group">
        <label asp-for="Quotation.StaffID" class="control-label"></label>
        <select asp-for="Quotation.StaffID" class ="form-control" asp-items="ViewBag.StaffID"></select>
        </div> *@


        @*  <div class="form-group">
        <label asp-for="Quotation.Status" class="control-label"></label>
        <input asp-for="Quotation.Status" class="form-control" />
        <span asp-validation-for="Quotation.Status" class="text-danger"></span>
        </div> *@
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

@* <div>
    <a asp-page="Index">Back to List</a>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
