@page
@model ICQS_Management.Pages.ProjectManagement.ProjectMaterialDetailModel

@{
    ViewData["Title"] = "ProjectMaterialDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>ProjectMaterialDetail</h1>

<div>
    <h4>Project</h4>
    <hr />
    <div class="row">
        @{
            if (Model.message != string.Empty)
            {
                <div class="alert alert-primary" role="alert">
                    @Model.message
                </div>
            }
        }
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectMaterialList.ProjectMaterialId" />
            <input type="hidden" asp-for="ProjectMaterialList.ProjectId" />
            <div class="form-group">
                <label asp-for="ProjectMaterialList.MaterialName" class="control-label"></label>
                <input asp-for="ProjectMaterialList.MaterialName" class="form-control" />
                <span asp-validation-for="ProjectMaterialList.MaterialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectMaterialList.Quantity" class="control-label"></label>
                <input asp-for="ProjectMaterialList.Quantity" class="form-control" />
                <span asp-validation-for="ProjectMaterialList.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
</div>
